.container{
    display:flex;
}

.img1{
    background-image: url("Images/08.jpg");
    background-repeat: no-repeat;
    height: 150px;
    width: 350px;
    color: rgb(255, 0, 0);
    border: 3px solid rgb(250, 159, 0);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.img1:hover .spans{
    display: block;
    color: red;
}

.spans{
    display: none;
    font-size: 22px;
    font-style: italic;
    margin-right: 100px;
    margin-top: 15px;
 
}

.img2{
    background-image: url("Images/09.jpg");
    width: 400px;
    color: blue;
    border: 3px solid rgb(191, 255, 0);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.img2:hover .p1{
    display: block;
    color: red;
}

.p1{
    display: none;
    margin-right: 110px;
    margin-left: 10px;
    margin-top: 0;
    font-size: 20px;
    font-style: italic;
}

.img3{
    background-image: url("Images/10.jpg");
    width: 350px;
    color: red;
    border: 3px solid red;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.img3:hover .p2{
    display: block;
    color: red;
}

.p2{
    display: none;
    margin-right: 70PX;
    margin-left: 10px;
    margin-top: 0;
    font-size: 22PX;
}

.img4{
    background-image: url("Images/11.jpg");
    height: 175;
    width: 300px;
    color: red;
    border: 3px solid rgb(187, 0, 250);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.img4:hover .p3{
    display: block;
    color: red;
}

.p3{
    display: none;
    margin-right: 50px;
    margin-left: 15px;
    margin-top: 0;
    font-size: 22px;

}

